vendor/

web/node_modules/
web/.DS_Store
web/node_modules
web/dist
web/.env.local
web/.env.*.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.idea
web/.vscode
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw*
